body {
    user-select: none;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.baner{
    width: 70%;
    max-width: 600px;
    min-height: 400px;
    box-sizing: border-box;
    padding: 10px 24px 24px 30px;
    background-color: rgb(133, 226, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: rgb(133, 226, 40);
    width: 90%;
    max-width: 600px;
    padding: 24px;
    box-sizing: border-box;

}
.btn{
    display: block;
    margin: 20px auto;
    user-select: none;
    background-color: rgb(247, 142, 6);
    width: 200px;
    height: 60px;
    font-size: 35px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}

h1{
    user-select: none;
    color: red;
    text-shadow:
    2px 0 0 white,
    -2px 0 0 white,
    0 2px 0 white,
    0 -2px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white;
    text-align:center;
    font-size: 45px;
}

#result {
    user-select: none;
    white-space: pre-line;
    font-size: 22px;

}

.form-area{
}
.checkbox{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    font-size: 20px;
}
.checkbox-area label {
    user-select: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.warning{
    user-select: none;
    font-size: 15px;    
}

#isOgori{
    user-select: none;
    font-size: 45px;
    background-color: gold;

}